<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kr328.clash.service">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name="ClashService"
            android:exported="false"
            android:process=":background" />
        <service
            android:name="TunService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":background">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".ClashManagerService"
            android:exported="false"
            android:process=":background" />
        <service
            android:name=".ProfileService"
            android:exported="false"
            android:process=":background" />
        <service
            android:name=".ProfileBackgroundService"
            android:exported="false"
            android:process=":background" />

        <provider
            android:name=".ProfileProvider"
            android:authorities="${applicationId}.profiles"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/profile_provider" />
        </provider>
        <provider
            android:name=".ProfileDocumentProvider"
            android:authorities="${applicationId}.documents"
            android:grantUriPermissions="true"
            android:exported="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:process=":background">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name=".ServiceStatusProvider"
            android:authorities="${applicationId}.status"
            android:exported="false"
            android:process=":background" />
        <provider
            android:name=".ServiceSettingsProvider"
            android:authorities="${applicationId}.settings"
            android:exported="false"
            android:process=":background" />

        <receiver
            android:name=".ProfileReceiver"
            android:exported="false"
            android:process=":background"
            android:permission="${applicationId}.permission.RECEIVE_BROADCASTS" />
        <receiver
            android:enabled="false"
            android:name=".RestartReceiver"
            android:process=":background">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
