<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kr328.clash.service">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name="ClashService"
            android:label="@string/clash_service_label"
            android:exported="false"
            android:process=":background" />
        <service
            android:name="TunService"
            android:label="@string/tun_service_label"
            android:exported="false"
            android:process=":background"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".ClashManagerService"
            android:label="@string/clash_manager_service_label"
            android:exported="false"
            android:process=":background" />
        <service
            android:name=".ProfileService"
            android:label="@string/clash_profile_service_label"
            android:exported="false"
            android:process=":background" />
        <service
            android:name=".ProfileBackgroundService"
            android:label="@string/clash_profile_service_label"
            android:exported="false"
            android:process=":background" />

        <receiver
            android:name=".ProfileRequestReceiver"
            android:exported="false"
            android:process=":background" />

        <provider
            android:authorities="${applicationId}.profiles"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/profile_provider" />
        </provider>
        <provider
            android:authorities="${applicationId}.status"
            android:name=".ServiceStatusProvider"
            android:exported="false"
            android:process=":background"/>
        <provider
            android:authorities="${applicationId}.settings"
            android:name=".ServiceSettingsProvider"
            android:exported="false"
            android:process=":background"/>
    </application>
</manifest>
