<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kr328.clash">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/launch_name"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApkBrokenActivity"
            android:label="@string/application_broken"
            android:exported="false"
            android:configChanges="uiMode"/>
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/profiles"
            android:exported="false"
            android:configChanges="uiMode"/>
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/create_profile"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/profile"
            android:exported="false"
            android:configChanges="uiMode" />
    </application>
</manifest>
