<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.kr328.clash">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/launch_name"
            android:configChanges="uiMode"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApkBrokenActivity"
            android:label="@string/application_broken"
            android:exported="false"
            android:configChanges="uiMode"/>
        <activity
            android:name=".ProfilesActivity"
            android:label="@string/profiles"
            android:exported="false"
            android:configChanges="uiMode"/>
        <activity
            android:name=".CreateProfileActivity"
            android:label="@string/create_profile"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".ProfileEditActivity"
            android:label="@string/profile"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".ProxiesActivity"
            android:label="@string/proxy"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".LogsActivity"
            android:label="@string/logs"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".LogViewerActivity"
            android:label="@string/log_viewer"
            android:exported="false"
            android:configChanges="uiMode"
            android:launchMode="singleTop"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".SettingsNetworkActivity"
            android:label="@string/network"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".SettingsBehaviorActivity"
            android:label="@string/behavior"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".SettingsInterfaceActivity"
            android:label="@string/interface_"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".PackagesActivity"
            android:label="@string/access_control_packages"
            android:exported="false"
            android:configChanges="uiMode" />
        <activity
            android:name=".SupportActivity"
            android:label="@string/support"
            android:exported="false"
            android:configChanges="uiMode" />
        <service
            android:name=".LogcatService"
            android:exported="false"
            android:label="@string/clash_logcat" />
        <service
            android:name=".TileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/launch_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
